# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# buildsystem stuff
*.moc
*.pyc
.sconsign.dblite
.sconf_temp/
cache/
config.log

# compiled binaries
jackmix/jackmix
libcontrol/controlsender_test
libgui/channelselector_test
libgui/midicontrolchannelassigner_test
libgui/slider_test
*.dot
*.tex
*.png
*.html
*.sty
*.svg
*.js
*.css
*.tmp
doxydoc/latex/Makefile
